.NavBar {
  display: inline;
  padding-right: 30px;
  margin-right: 0px;

  text-align: center;
  background-color: #5b6b75;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
