.ReviewPage {
  text-align: center;
  background-color: #7a8e9b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.ReviewPage p {
  font-size: xx-large;
}

/* do what has been done on line 12 to start 
underlining stuff and making text bold using 
css rather than html. This is for the revuiew 
page specifically, but you will need to repeat 
the process for every page */
